* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* ===== MENU ===== */
.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(#d6b97c, #b8924a);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 100;
  box-shadow: 0 2px 10px #000;
}

.logo {
  font-weight: bold;
  letter-spacing: 3px;
  color: #2b1d00;
}

.menu a {
  margin-left: 25px;
  text-decoration: none;
  color: #2b1d00;
  font-weight: 500;
}

/* ===== HERO ===== */
.hero {
  margin-top: 60px;
  height: calc(100vh - 60px);
  background:
    linear-gradient(
      rgba(0,0,0,0.25),
      rgba(0,0,0,0.55)
    ),
    url("banner-nemesis.png.png") center center / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTEÚDO CENTRAL */
.hero-content {
  text-align: center;
  color: #fff;
}

.hero-content h1 {
  font-size: 48px;
  letter-spacing: 4px;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 16px;
  margin-bottom: 25px;
  opacity: 0.9;
}

/* BOTÃO */
.hero-btn {
  display: inline-block;
  padding: 12px 36px;
  border: 1px solid #d6b97c;
  color: #d6b97c;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.hero-btn:hover {
  background: #d6b97c;
  color: #000;
}
